<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <ul class='navbar-nav mr-auto'>
    <%# link_to 'Question Index', '/questions' %>
    <%= link_to 'Post Index', posts_path %>
    |
    <%= link_to 'Post New Page', new_post_path %>
    
  </ul>
 
</nav>